body{
    background-color: #000;
}
navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  background: #131010;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}
option{
    color: #df1717;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
    color: #fcebad;
  order: 2;
  margin-right: 10%;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.logo {
    padding-left: 0;
    order: 1;
    color: #fcebad;
    font-size: 2.3rem;
    margin-right: auto;
  }
.sideheading{
    color: #ffffff;
    padding-top: 10%;
    text-size-adjust: 100px;
    font-size: medium;
}